.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
.idea
ehthumbs.db
Thumbs.db
*.swp
config.json
public/img/*
!public/img/default-avatar.jpg
!public/img/default-gift.png
server/models/Categories.json
err.log
out.log
npm-debug.log
