.list-item{
  border: 1px solid;
  margin-bottom: 10px;

}

.result-list ul {
  padding-left: 0px;
}

.result-list * {
  padding-left: 0px;
}

.hotel-info *{
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 10px;
}

/* make sure all list item divs have same height */
.row-height {
  height: 140px;
}


.points-string {
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
}

.hotelPrice {
  position: absolute;
  top: 50%;
  left: 50%;
}

.canBRG {
  position: absolute;
  top: 20%;
  left: 50%;
}
