/* make sure all list item divs have same height */
.row-height {
  height: 140px;
}

.list-item{
  border: 1px solid;
  margin-bottom: 10px;
  cursor: pointer;
}

.list-item img{
  height: 137px;
}
.list-item:hover {
  
  border: 3px solid;
}
.result-list ul {
  padding-left: 0px;
}

.result-list * {
  padding-left: 0px;
}

.hotel-info *{
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}



.points-string {
  position: absolute;
  bottom: 5px;
  margin-bottom: 0px;
}

.hotel-price {
  position: absolute;
  top: 50%;
  left: 50%;
}

.can-brg {
  position: absolute;
  top: 20%;
  left: 50%;
}


