/* make sure all list item divs have same height */
.row-height {
  height: 100px;
  padding-right: 0px;
}

.list-item{
  outline: 1px solid;
  margin-bottom: 10px;
  cursor: pointer;
  
}

.list-item img{
  height: 100px;
}
.list-item:hover {
  background-color: #888686;
}


.result-list ul {
  padding-left: 0px;
}

.result-list * {
  padding-left: 0px;
}

/* hotel infos */

.hotel-info *{
  margin-left: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: grey;
}

.points-string {
  position: absolute;
  bottom: 5px;
  margin-bottom: 0px;
}


/* hotel price */
.hotel-price {
  display: block;
  border-left: 1px solid black;
  /* position: absolute; */
  /* width:auto; */
  /* margin-top: 10%; */
  /* /\* left: 50%; *\/ */
  /* height: 80px; */
  /* color: black; */
  /* float: right; */
}

.price-pos {
  position: absolute;
  top: 30%;
  width: 50px;
  text-align: right;
  /* margin-left: 70%; */
  left: 30%;
}

.big-number {
  font-size: 150%;
  font-weight: bold;
}

.small-number{
  margin-top: -5%;
  font-size: 80%;
  text-decoration: line-through;
}

/* brg img */
.brg {
  text-align: right;
  font-weight: bold;
  /* margin-left: 52%; */
  

  width: 100%;
  font-size: 80%;
  background-position: right; 
  background-size: contain;
  background-size: 40px 100px;
  background-repeat: no-repeat;
}

.brg span{
  margin-left:70%;
}

.canbrg {
  float: right;
  color: black;
  background-image: url('../../assets/brg.png');
}

.nobrg {
  float: right;
  text-decoration:line-through;
  color: white;
  background-image: url('../../assets/nobrg.png');
}


/* utility: align things at vertical and horizontal center */
.v-center {
  display: flex;
  /* justify-content: center; /\* align horizontal *\/ */
  align-items: center; /* align vertical */
  
}



