.menu {
    list-style: none;
    padding-left: 0;
    z-index: 100;
    position: absolute;
    width: 95%;
}

.menu li {
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
    background-color: black;
    color: #d3d3d3;
}

.menu-item {
    display: inline;
}

.menu-item:hover {
    background-color: #808080;
}