.detail {
  top: -20px;
  width: 70%;
  height: 60%;
  bottom: 30%;
  margin-left: 15%;
  padding-bottom: 80px;
}

.detail *{
  padding: 0px;
}
.big-img {
  margin-top: -20px;
  width: 100%;
}

.detail .row {
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  height: 50%;
}

.detail-hotel-info {
  height: 150px;
}

.detail-hotel-info * {
  margin-left: 0px;
}

.spg-brg{
  position: relative;
}

.detail-brg {
  position: absolute;
  top: 25%;
  left: 40%;
}

.detail-spg {
  position: absolute;
  top: 55%;
  left: 33%;
}

.detail-progress {
  margin-left: 60%;
}

.center {
  text-align: center;
}
